.logo {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    margin: 0 20px;
    color: var(--text-color);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color 0.2s ease;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0 150px 0;
}

.span-color {
    color: var(--secondary-color);
    font-family: 'Dancing Script', cursive;
    font-size: 2.2em;
}

.hero-logo {
    width: 250px;
    height: auto;
}

.hero-text p {
    text-align: left;
    font-size: 0.9em;
}

.about {
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
    padding: 100px 20 150px 20;
}

.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text,
.hero-text {
    max-width: 600px;
}

.about-photo,
.hero-logo {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

.content,
.features,
.contact,
.redes-sociais {
    display: block;
    align-items: center;
    padding: 100px 0 150px 0;
}

.content h2,
.content p,
.features h2,
.features p {
    text-align: center;
    margin-bottom: 20px;
}

.gallery-tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

figure {
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: 100px;
    height: 100px;
}

figure:hover {
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
}

figure svg {
    width: 70px;
    height: 70px;
    fill: #fff;
}

@media screen and (max-width: 500px) {
    .hero {
        flex-direction: column;
        height: 300px;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about-photo {
        width: 100%;
        max-width: 300px;
        margin-left: 0;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
    
}