@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #602c6a;
    --secondary-color: #B891C0;
    --background-color: #333;
    --secondary-bg-color: #555;
    --text-color: #f4f4f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
}

main,
header,
footer {
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px 0;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    font-size: 0.9em;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: #602c6a;
    text-decoration: none;
}