@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root, :root[data-theme='dark'] {
    --primaryBg: #111111;
    --secondaryBg: #F4F4F4;

    --sectionBg: #B891C0;
    --sectionText: #111111;

    --primaryColor: #B891C0;
    --secondaryColor: #602C6A;

    --primaryText: #EEEEEE;
    --secondaryText: #111111;
}

:root[data-theme='light'] {
    --primaryBg: #F4F4F4;
    --secondaryBg: #111111;
    
    --sectionBg: #602C6A;
    --sectionText: #EEEEEE;

    --primaryColor: #602C6A;
    --secondaryColor: #B891C0;

    --primaryText: #111111;
    --secondaryText: #EEEEEE;
}

html[data-theme='light'] .brandLogo {
    content: url("../img/logos/LOGO-1.png");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--primaryBg);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primaryText);
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: var(--primaryText);
    font-size: 3rem;
    font-weight: 100;
}

h2, h3, h4, h5, h6 {
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

p {
    font-size: 1.25rem;
    line-height: 1.25;
}

a {
    text-decoration: none;
    color: var(--primaryText);
}

a:hover {
    color: var(--primaryColor);
    font-weight: 800;
}

i {
    color: var(--primaryText);
}

li {
    list-style: none;
}

/* Header styles */

.header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.headerToggle {
    min-width: 20%;
    display: flex;
    justify-content: flex-end;
}

.headerBrand .brandLogo {
    width: auto;
    height: 3.25rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primaryColor);
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

/* Navbar styles */

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--secondaryText);
}

.navItem {
    width: 100%;
}

.navMobile {
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--secondaryBg);
}

.navMobile .navLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.navLink.active .navIcon,
.navLink.active .navText,
.navLink:hover .navIcon,
.navLink:hover .navText {
    color: var(--primaryColor);
    font-weight: 800;
}

.navIcon, .navText {
    color: var(--primaryText);
}

.navIcon {
    font-size: 1.5rem;
}

.navText {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.navHeader {
    display: none;
}

.navMain {
    gap: 1rem;
}

/* Main content styles */

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 1rem;
}

.mainPhoto {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    border: 4px solid var(--primaryColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.mainSocial {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.mainLink:hover i{
    color: var(--primaryColor);
    transition: 0.2s ease-in-out;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--primaryColor);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn span, 
.btn i {
    font-size: 1rem;
    color: var(--primaryBg);
}

.btn:hover {
    background-color: var(--secondaryColor);
    transition: background-color 0.2s ease-in-out;
}

.btn:hover span,
.btn:hover i {
    color: var(--secondaryBg);
}

.mainBtn {
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Section styles */

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem 1rem;
}

.sectionTitle {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* About and Technologies styles */

.about {
    width: 100%;
    background-color: var(--sectionBg);
    color: var(--secondaryText);
    flex-direction: column;
    gap: 1rem;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 800px;
    justify-content: center;  
}

.aboutPhoto {
    width: 347px;
    height: 347px;
    border-radius: 15px;
    border: 4px solid var(--secondaryColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}


/* Technologies styles */

.technologiesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.technologiesItem {
    width: 5.8rem;
    height: 5.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    border: 1px solid var(--primaryColor);
    border-radius: 50%;
    padding: 1rem;
}

.technologiesItem:hover {
    border-color: var(--secondaryColor);
    font-weight: 500;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.technologiesIcon {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: contain;
    filter:invert(1);
}

.technologiesName {
    font-size: 0.65rem;
    font-weight: 300;
}

html[data-theme='light'] .technologiesIcon {
    filter:invert(0);
}

/* Project styles */

.project {
    width: 100%;
    background-color: var(--sectionBg);
    color: var(--secondaryText);
    flex-direction: column;
    gap: 1rem;
}



/* Footer styles */

footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--secondaryBg);
    margin-top: 0;
    margin-bottom: 5rem;
    color: var(--primaryText);
}

footer p {
    padding: 1rem;
    font-size: 0.875rem;
}

/* Responsive styles */

@media screen and (min-width: 800px) {
    
    /* Adjust header and navbar for larger screens */
    .navMobile {
        display: none;
    }

    .header {
        position: fixed;
        border-bottom: 1px solid var(--secondaryBg);
        padding: 1rem 10rem;
        background-color: var(--secondaryText);
    }

    .navContainerMobile {
        display: none;
    }

    .navHeader {
        display: flex;
    }

    .navHeader,
    .headerToggle {
        min-width: 30%;
    }
    
    .main {
        padding: 10rem 10rem 6rem 10rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
    }

    .mainContent {
        align-items: flex-start;
        text-align: left;
        gap: .5rem;
        flex: 1;
    }

    .mainBtn {
        width: auto;
        margin-top: 0;
        justify-content: flex-start;
    }

    .mainPhoto {
        max-width: 350px;
        margin: 0;
    }

    .mainSocial {
        justify-content: flex-start;
        font-size: 2rem;
        gap: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0;
    }

    section {
        padding: 5rem 10rem;
    }

    .about{
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .aboutContent {
        display: flex;
        flex-direction: row;
        text-align: left;
        gap: 2rem;
        max-width: 900px;
        align-items: center;
        justify-content: space-between;
    }
    

    .aboutPhoto {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    .technologiesGrid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
        padding: 2rem;
    }

    .technologiesItem {
        width: 7rem;
        height: 7rem;
        padding: 1rem;
        gap: 0.5rem;
    }

    .technologiesIcon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .technologiesName {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.4;
    }

    footer {
        padding: 2rem 0;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1400px) {
    
    .header {
        padding: 1rem 15rem;
    }

    .main {
        padding: 10rem 18rem 6rem 18rem;
    }

    section {
        padding: 15rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    footer {
        padding: 2rem 0;
        margin-bottom: 0;
    }
}